<section class="signup-component-container">
  <h1 class="signup-header">הרשמה</h1>
  <form>
    <div class="input-container">
      <span class="fName">שם פרטי</span>
      <div class="input-wrapper">
        <input type="text" placeholder="שם פרטי" />
      </div>
    </div>
    <div class="input-container">
      <span class="lName">שם משפחה</span>
      <div class="input-wrapper">
        <input type="text" placeholder="שם משפחה" />
      </div>
    </div>
    <div class="input-container">
      <span class="email">כתובת דוא"ל</span>
      <div class="input-wrapper">
        <input type="email" placeholder='דוא"ל' />
      </div>
    </div>
    <div class="input-container">
      <span class="password">סיסמה</span>
      <div class="input-wrapper">
        <input type="password" placeholder="סיסמה" />
      </div>
    </div>
    <div class="input-container">
      <span class="re-password">וידוא סיסמה</span>
      <div class="input-wrapper">
        <input type="password" placeholder="הכנס שוב" />
      </div>
    </div>
    <div class="signup-checkbox">
      <span>אני מסכימ/ה <a>לתנאי השירות</a></span>
      <div class="checkbox-wrapper">
        <input type="checkbox" />
      </div>
    </div>
    <button class="btn-signup" type="button">הרשמה</button>
  </form>
</section>
